@{
    ViewData["Title"] = "Library";
}

<div class="text-center">
    
    <h2 >We Invite you to see, touch and experience our newest digital resources.</h2>
    <img src="css/img/bg.jpg" alt="">
   
</div>
